<h1>DEPARTMENT</h1>
<br />
<button class="btn btn-sm" (click)="add()">ADD</button>
<div class="clr-col">
  <clr-datagrid *ngIf="depList">
    <clr-dg-column>.</clr-dg-column>
    <clr-dg-column>ชื่อห้องตรวจ</clr-dg-column>
    <clr-dg-column>ที่อยู่</clr-dg-column>
    <clr-dg-column>#</clr-dg-column>
    <clr-dg-row *clrDgItems="let item of depList">
      <clr-dg-cell>{{ item.dpId }}</clr-dg-cell>
      <clr-dg-cell>{{ item.dpName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.dpAddress }}</clr-dg-cell>
      <clr-dg-cell>
        <button class="btn btn-outline" (click)="sendItem(item)">EDIT</button>
        <button class="btn btn-danger-outline" (click)="del(item.dpId)">
          DELETE
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
<clr-modal *ngIf="depChange" [(clrModalOpen)]="modalEdit">
  <h3 class="modal-title" *ngIf="mode == 'edit'">แก้ไข</h3>
  <h3 class="modal-title" *ngIf="mode == 'add'">เพิ่ม</h3>
  <div class="modal-body">
    <label><b>ชื่อห้องตรวจ</b></label>
    <clr-input-container class="clr-col-8">
      <input
        clrInput
        type="text"
        [(ngModel)]="depChange.dpName"
        name="dpName"
      /> </clr-input-container
    ><br />
    <label><b>ที่อยู่</b></label>
    <clr-input-container class="clr-col-8">
      <input
        clrInput
        type="text"
        [(ngModel)]="depChange.dpAddress"
        name="dpAddress"
      /> </clr-input-container
    ><br />
  </div>
  <br />
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalEdit = false">
      ยกเลิก
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onSave()"
      [disabled]="!depChange.dpAddress|| !depChange.dpName"
    >
      บันทึก
    </button>
  </div>
</clr-modal>
