<div class="main-container">

<!-- Header --> 
<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
        <span class="title">Super6</span>
    </a>
</div>
</header>

    <!-- Sidebar --> 
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="/template">
          Landing-page
      </a>
      <a clrVerticalNavLink routerLinkActive="active" target="_blank" href="https://chananatek.wixsite.com/super5">
        UI-UX
    </a>
  </clr-vertical-nav>
      <!-- Content --> 
      <div class="content-area">
          <h3>
            Design Flowchart
          </h3>
          user management
          <br>
          <img width="800px" class="responsive" src="../../../../assets/img/flowchart_2.jpg">
    

          <p>eer works!</p>
ก็ต้องมาไหม<br />
----------- <br>
<!-- <router-outlet>luu</router-outlet> -->
<h *ngFor="let i of pList">
  ชื่อ: {{ i.firstname }} {{ i.surename }}<br />

  <div *ngIf="i.sex=='W'">  เพศ: หญิง</div>
  <div *ngIf="i.sex=='M'">  เพศ: ชาย</div>
</h>
<button class="btn btn-outline">Regular</button>
        </div>
<!-- <div *ngFor="let item of userList">
    <h2> {{item.depName}} </h2>
    <clr-datagrid>
      <clr-dg-column>ชื่อ-นามสกุล</clr-dg-column>
      <clr-dg-column *ngFor="let type of typeList">{{type.lTypeName}} (วัน)</clr-dg-column>
  
      <clr-dg-row *ngFor="let user of item.item">
        <clr-dg-cell>{{user.name}} {{user.surname}}</clr-dg-cell>
        <clr-dg-cell *ngFor="let t of typeList">{{user[t.lTypeId]}} </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div> -->

    </div>