DX
<div *ngFor="let item of dxList">
{{item.dCode}} : {{item.dName}}
</div>
------------- <br>
<form [formGroup]="formDiag" (ngSubmit)="onSubmit()">
    <div>
      <label>
        CODE
        <input formControlName="dCode" >
      </label>
    </div>
    <div>
      <label>
        NAME
        <input formControlName="dName" >
      </label>
    </div>
    <!-- <div formArrayName="aliases">
      <button type="button" (click)="addAlias()">+ Add another alias</button>
    
      <div *ngFor="let alias of aliases.controls; let i=index">
        <label for="alias-{{ i }}">Alias: alias-{{ i }}</label>
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </div>
    </div> -->
    <button type="submit" [disabled]="formDiag.status==='INVALID'">Send</button>
  </form>
{{formDiag.value | json}}
{{formDiag.status}}
