<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="#/main/main" class="nav-link">
        <clr-icon shape="book"></clr-icon>
        <span class="title">test</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          ชื่อ สกุล
          <clr-icon shape="caret down"></clr-icon>
        </button>

        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <!-- <a href="javascript://" clrDropdownItem routerLink="./about">ข้อมูลส่วนตัว</a> -->
            <a href="javascript://" clrDropdownItem (click)="onLogout()">ออกจากระบบ</a>
          </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./main">
        <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
        Home
      </a>
      <a clrVerticalNavLink routerLink="./opdS" routerLinkActive="active">
        <clr-icon shape="event" clrVerticalNavIcon></clr-icon>
        OPD visit
      </a>
      <a clrVerticalNavLink routerLink="./patient" routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Patient
      </a>
      <a clrVerticalNavLink routerLink="./employee" routerLinkActive="active">
        <clr-icon shape="id-badge" clrVerticalNavIcon></clr-icon>
        employee
      </a>
      <a clrVerticalNavLink routerLink="./dx" routerLinkActive="active">
        <clr-icon shape="color-picker" clrVerticalNavIcon></clr-icon>
        diagnosis
      </a>
      <a clrVerticalNavLink routerLink="./dep" routerLinkActive="active">
        <clr-icon shape="factory" clrVerticalNavIcon></clr-icon>
        dep
      </a>
      <a clrVerticalNavLink routerLink="./test" routerLinkActive="active">
        <clr-icon shape="heart" clrVerticalNavIcon></clr-icon>
        test
      </a>
      <a clrVerticalNavLink routerLink="./brefer" routerLinkActive="active">
        <clr-icon shape="chart" clrVerticalNavIcon></clr-icon>
        bRefer
      </a>
    </clr-vertical-nav>
    <!-- <nav class="sidenav">
      <section class="sidenav-content">
        <a clrVerticalNavLink routerLink="./main" routerLinkActive="active">
          Home
        </a>

      </section>
    </nav> -->
  </div>
</div>
